<a href="https://colab.research.google.com/github/ASWATHI-A123/ASWATHI-A/blob/main/Assignment_on_Model_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

1.Load the Data set into python environment

In [ ]:
data=pd.read_csv('/content/titanic_dataset  (1).csv')

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2.Do all the necessary pre-processing steps

In [ ]:
data.shape

(891, 12)

In [ ]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

a.Remove unnecessary columns

In [ ]:
data.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [ ]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

b.Handling missing values

In [ ]:
data.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [ ]:
median_age=data['Age'].median()
data['Age'].fillna(median_age,inplace=True)

In [ ]:
data.dropna(subset=['Embarked'],inplace=True)

In [ ]:
data.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

c.Encode categorical variables

In [ ]:
data['Sex']=data['Sex'].map({'male':0,'female':1})

In [ ]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    0  22.0      1      0   7.2500        S
1         1       1    1  38.0      1      0  71.2833        C
2         1       3    1  26.0      0      0   7.9250        S
3         1       1    1  35.0      1      0  53.1000        S
4         0       3    0  35.0      0      0   8.0500        S

In [ ]:
encoded_embarked = pd.get_dummies(data['Embarked'], prefix='Embarked')
data = pd.concat([data, encoded_embarked], axis=1)

In [ ]:
data.drop(['Embarked'],axis=1,inplace=True)

In [ ]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,0,35.0,0,0,8.0500,0,0,1

d.Scaling of Numerical Features

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
data[['Age','Fare']]=scaler.fit_transform(data[['Age','Fare']])

In [ ]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,0.271174,1,0,0.014151,0,0,1
1,1,1,1,0.472229,1,0,0.139136,1,0,0
2,1,3,1,0.321438,0,0,0.015469,0,0,1
3,1,1,1,0.434531,1,0,0.103644,0,0,1
4,0,3,0,0.434531,0,0,0.015713,0,0,1

e.Feature Engineering

In [ ]:
data['FamilySize']=data['SibSp']+data['Parch']

In [ ]:
data.drop(['SibSp','Parch'],axis=1,inplace=True)

In [ ]:
data.head()

,Survived,Pclass,Sex,Age,Fare,Embarked_C,Embarked_Q,Embarked_S,FamilySize
0,0,3,0,0.271174,0.014151,0,0,1,1
1,1,1,1,0.472229,0.139136,1,0,0,1
2,1,3,1,0.321438,0.015469,0,0,1,0
3,1,1,1,0.434531,0.103644,0,0,1,1
4,0,3,0,0.434531,0.015713,0,0,1,0

3.Create kNN and SVM models

KNN MODEL

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [ ]:
#Split the data into features and target variable
x=data.drop('Survived',axis=1)
y=data['Survived']

In [ ]:
#Split into training and testing sets
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [ ]:
#Feature Scaling
scaler = StandardScaler()
x_train[['Age', 'Fare']] = scaler.fit_transform(x_train[['Age', 'Fare']])
x_test[['Age', 'Fare']] = scaler.transform(x_test[['Age', 'Fare']])

In [ ]:
#Train the kNN model
k=5
knn=KNeighborsClassifier(n_neighbors=k)
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [ ]:
#Make predictions
y_predict=knn.predict(x_test)

In [279]:
#Evaluate the model
accuracy=accuracy_score(y_test,y_predict)
print(accuracy_score(y_test,y_predict))
print(confusion_matrix(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.8116591928251121
[[117  24]
 [ 18  64]]
              precision    recall  f1-score   support

           0       0.87      0.83      0.85       141
           1       0.73      0.78      0.75        82

    accuracy                           0.81       223
   macro avg       0.80      0.81      0.80       223
weighted avg       0.82      0.81      0.81       223

SVM MODEL

In [280]:
from sklearn.svm import SVC
#Train the SVM model
svmclf=SVC(kernel='linear')
svmclf.fit(x_train,y_train)

SVC(kernel='linear')

In [281]:
#Make predictions
y_predict1=svmclf.predict(x_test)

In [282]:
from sklearn.metrics import accuracy_score,confusion_matrix
print(accuracy_score(y_test,y_predict1))
print(confusion_matrix(y_test,y_predict1))
print(classification_report(y_test,y_predict1))

0.7892376681614349
[[116  25]
 [ 22  60]]
              precision    recall  f1-score   support

           0       0.84      0.82      0.83       141
           1       0.71      0.73      0.72        82

    accuracy                           0.79       223
   macro avg       0.77      0.78      0.78       223
weighted avg       0.79      0.79      0.79       223

4.Do k-Fold and stratified k-fold cross validation techniques and find the average accuracy score of the models

In [283]:
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold

In [292]:
# Perform k-fold cross-validation-kNN model
kfold_scores = cross_val_score(knn, x, y, cv=KFold(n_splits=5))
average_accuracy_kfold = kfold_scores.mean()

In [293]:
# Perform stratified k-fold cross-validation
stratified_scores = cross_val_score(knn, x, y, cv=StratifiedKFold(n_splits=5))
average_accuracy_stratified = stratified_scores.mean()

In [294]:
# Print the average accuracy scores
print("Average Accuracy (k-fold):", average_accuracy_kfold)
print("Average Accuracy (Stratified k-fold):", average_accuracy_stratified)

Average Accuracy (k-fold): 0.7863010220275504
Average Accuracy (Stratified k-fold): 0.7874055735415476

In [298]:
# Perform k-fold cross-validation-SVM model
kfold_scores = cross_val_score(svmclf, x, y, cv=KFold(n_splits=5))
average_accuracy_kfold = kfold_scores.mean()

In [296]:
# Perform stratified k-fold cross-validation
stratified_scores = cross_val_score(svmclf, x, y, cv=StratifiedKFold(n_splits=5))
average_accuracy_stratified = stratified_scores.mean()

In [297]:
# Print the average accuracy scores
print("Average Accuracy (k-fold):", average_accuracy_kfold)
print("Average Accuracy (Stratified k-fold):", average_accuracy_stratified)

Average Accuracy (k-fold): 0.7862946740303434
Average Accuracy (Stratified k-fold): 0.7862756300387227