<a href="https://colab.research.google.com/github/ASWATHI-A123/ASWATHI-A/blob/main/ASSIGNMENT_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Question 1**
# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

H0=There is no change in sales after stepping into digital marketing

Ha=There is an increase in sales after stepping into digital marketing

In [141]:
import numpy as np
import pandas as pd

In [142]:
data=pd.read_csv('/content/Sales_add.csv')

In [143]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [144]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [145]:
data1=data['Sales_before_digital_add(in $)']
data2=data['Sales_After_digital_add(in $)']

In [146]:
from scipy.stats import ttest_ind

In [147]:
t_stat,p_val=ttest_ind(data1,data2)

In [148]:
p_val

2.614368006904645e-16

In [149]:
if p_val<0.05:
  print('Reject Null Hypothesis')
else:
  print('Accept Null Hypothesis')

Reject Null Hypothesis

INFERENCE:There is an increase in sales after stepping into digital marketing.The altenate hypothesis is true.

# **Question 2**
# The company needs to check whether there is any dependency between the features “Region” and “Manager”

To check the dependency between two categorical data chi square test of independence has to be performed.

H0=There is no dependency between Region and Manager

Ha=There is dependency between Region and Manager

In [150]:
from scipy.stats import chi2_contingency

In [151]:
tab_data=pd.crosstab(data['Region'],data['Manager'])

In [152]:
chi2_contingency(tab_data)

Chi2ContingencyResult(statistic=3.050566893424036, pvalue=0.5493991051158094, dof=4, expected_freq=array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))

In [153]:
chi2_stat,p_value,dof,exp=chi2_contingency(tab_data)

In [154]:
p_value

0.5493991051158094

In [155]:
if p_value<0.05:
  print('Reject Null Hypothesis')
else:
  print('Accept Null Hypothesis')

Accept Null Hypothesis

INFERENCE:Failed to reject the null hypothesis. Therefore ,there is no dependency between region and manager